
.vs/ToDoDelete/FileContentIndex/225e7b77-2cc7-4795-bc3c-b62643a13700.vsidx
.vs/ToDoDelete/FileContentIndex/3cac898a-9e41-40c9-91c7-42211431cb1a.vsidx
.vs/ToDoDelete/FileContentIndex/908cb960-e1de-48e4-960a-85e96b0924cd.vsidx
.vs/ToDoDelete/FileContentIndex/f88fce5b-387f-4778-8cd8-772eb7a21329.vsidx
.vs/ToDoDelete/FileContentIndex/read.lock
.vs/ToDoDelete/v17/.suo
/Library
/Temp
